!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width')
    != SocketStream
    title Raspberry Pi CPU Temperature
  body
    #container(style="min-width: 400px; height: 400px; margin: 0 auto")